

<div>
    <%= form_tag( '/', method: 'get' ) do %>
        <%= select_tag 'column_select', column_options %>
        <%= label_tag 'Limit Search Amount:' %>
        <%= text_field_tag 'limit', @limit %>
        <%= select_tag 'sort_order', order_by  %>
        <%= text_field_tag 'ignore', @ingore_list %>
  <%= submit_tag("Click") %>
<% end %>

</div>

<div>
    <h1><%= create_rails_command %></h1>
    <h1><%= create_sql_command %></h1>
</div>

<div>

<table>
  <tr>
    <%= table_headers %>
  </tr>
  <% @records.each do |record| %>
  <tr>
      <td> <%= record.town %> </td>
      <td> <%= record.total_population %> </td>
      <td> <%= record.youth_population %> </td>
      <td> <%= record.elder_population %> </td>
      <td> <%= record.income %> </td>
      <td> <%= record.poverty %> </td>
      <td> <%= record.poverty_percentage %> </td>
      <td> <%= record.prenatal_care %> </td>
      <td> <%= record.c_section %> </td>
      <td> <%= record.infant_deaths %> </td>
      <td> <%= record.infant_mortality %> </td>
      <td> <%= record.low_birthweight %> </td>
      <td> <%= record.multiple_births %> </td>
      <td> <%= record.publicly_financed_prenatal %> </td>
      <td> <%= record.teen_preg %> </td>
    </tr>
  <% end %>
<table>

</div>


